.env
*.gem
*.rbc
.bundle
.config
.yardoc
.byebug_history
.versions.conf
Gemfile.lock
coverage
doc/
.config
coverage/
InstalledFiles
pkg/
rdoc/
spec/reports/
spec/examples.txt
test/tmp/
test/version_tmp/
tmp/
bin/
.ruby-version
.ruby-gemset
gemfiles/*.lock
