version: 2.1
orbs:
  ruby: circleci/ruby@1.4.0

jobs:
  test:
    parallelism: 3
    parameters:
      ruby-version:
        type: string
      bundle-version:
        type: string

    docker:
      - image: cimg/ruby:<< parameters.ruby-version >>
      - image: circleci/postgres:12.9
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: torque
          POSTGRES_DB: torque_postgresql

    steps:
      - checkout
      - run: ruby --version
      - run:
          command: 'bundle install --gemfile gemfiles/<< parameters.bundle-version >>'
          name: Install Bundle
      - run:
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
          name: Wait for DB
      - run:
          command: 'bundle exec --gemfile gemfiles/<< parameters.bundle-version >> rspec'
          name: Run Tests
          environment:
            DATABASE_URL: 'postgresql://postgres:torque@localhost/torque_postgresql'

references:
  matrix_build: &matrix_build
    test:
      matrix:
        parameters:
          ruby-version: ['2.7', '3.0', '3.1']
          bundle-version: ['Gemfile.rails-7.0']

workflows:
   commit:
     jobs:
       - <<: *matrix_build
